/*幻灯片*/
.slide {
    font-size: 3em;
}

/*友链*/
.section2-element-content {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.section2-element-content-item {
    text-align: center;
    padding: 20px;
    flex-grow: 1;
}

.section2-element img {
    max-width: 23.4rem;
    max-height: 23.4rem;
    object-fit: cover;
    border-radius: 5px;
}