.server-photo-slide1 {
    background-image: url('https://picss.sunbangyan.cn/2023/12/17/fe8d47c8ecfd48293f66cdb0255e9ace.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.server-photo-slide2 {
    background-image: url('https://picst.sunbangyan.cn/2023/12/17/87aae08b98cbd7b4587783e6fca2bef2.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.server-photo-slide3 {
    background-image: url('https://s11.ax1x.com/2024/01/07/pizvy9O.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}